.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  &__location {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $color-white;
  }

  &__icon {
    fill: $color-white;
  }

  &__socials {
    display: flex;
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    color: $color-white;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.logo {
  text-decoration: none;
  color: $color-white;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  padding-top: 0.3rem;

  &__list {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  &__link {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 500;
    font-size: 1.5rem;
    transition: color 0.2s;

    &:hover {
      color: $color-primary;
    }
  }

  &__btn {
    align-self: center;
  }
}

.btn {
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;

  &--primary {
    background-color: $color-primary;
    padding: 1rem 2rem;
    color: $color-white;
    border-radius: 100px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.2s;

    &:hover {
      background-color: transparent;
      color: $color-primary;
      border: 2px solid $color-primary;
    }
  }
}

.feature {
  width: 30%;

  @media screen and (max-width: 50em) {
    width: 100%;
  }

  &__icon {
    font-size: 5rem;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.8rem;
  }

  &__subtitle {
    text-transform: capitalize;
    color: $color-primary;
    position: relative;
    margin-bottom: 2rem;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      width: 20%;
      height: 2px;
      background-color: $color-primary;
    }
  }

  &__text {
    font-size: 1.5rem;
    line-height: 1.7;
  }
}

.features-description {
  background-color: $color-primary;
  min-height: 120%;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  right: 1rem;
  bottom: 0;
  width: 35%;
  z-index: 100;

  @media screen and (max-width: 62.5em) {
    position: relative;
    top: 0;
    right: 0;
  }

  @media screen and (max-width: 50em) {
    width: 100%;
  }

  &__title {
    color: $color-white;
    text-transform: capitalize;
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  &__text {
    line-height: 1.7;
    color: $color-white;
  }
}

.about {
  &__image {
    width: 50%;

    @media screen and (max-width: 56.25em) {
      width: 90%;
      margin: 0 auto;
    }
  }

  &__textbox {
    flex: 1;
    background-color: $color-white-light;
    padding: 5rem 8rem;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    line-height: 1.6;
  }
}

.stat {
  text-align: center;
  @media screen and (max-width: 43.75em) {
    text-align: left;
  }
  &__title {
    text-transform: uppercase;
    flex: 0 0 30%;
    font-size: 2.5rem;
    @media screen and (max-width: 56.25em) {
      font-size: 2rem;
    }
  }

  &__number {
    font-size: 2.5rem;
    @media screen and (max-width: 56.25em) {
      font-size: 2rem;
    }
  }

  &__category {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
}

.sermons-container {
  background-color: $color-white-light;
}

.sermon {
  display: flex;

  @media screen and (max-width: 56.25em) {
    flex-direction: column;
  }

  &--flipped {
    flex-direction: row-reverse;

    @media screen and (max-width: 56.25em) {
      flex-direction: column;
    }
  }

  &:not(:last-child) {
    margin-bottom: 8rem;
  }

  &__image {
    width: 50%;
    @media screen and (max-width: 56.25em) {
      width: 100%;
    }
  }

  &__details {
    flex: 1;
    padding: 7rem 4rem;
    background-color: $color-white-light;
  }

  &__title {
    text-transform: capitalize;
    font-size: 3.5rem;
    color: $color-primary;
    margin-bottom: 2rem;
  }

  &__meta {
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    font-weight: 700;
    color: $color-primary;
  }

  &__meta-type {
    color: $color-black-light;
  }

  &__description {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.8;
    color: $color-black-fade;
  }

  &__actions {
    display: flex;
    gap: 2rem;
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 1rem;

    border: none;
    outline: none;
    padding: 1.5rem 2rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 600;
    border-radius: 100px;

    &--filled {
      background-color: $color-primary;
      color: $color-white;
    }

    &--outline {
      color: $color-primary;
      border: 2px solid currentColor;
    }
  }
}
