.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.features {
  width: 65%;
  min-width: 65%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

  @media screen and (max-width: 50em) {
    width: 100%;
    flex-direction: column;
  }
}

.about-section {
  display: flex;

  @media screen and (max-width: 56.25em) {
    flex-direction: column;
  }
}
