$color-primary: #ce0f3d;
$color-primary-light: #f7e8f0;
$color-black: #000000;
$color-black-light: #1a1a1a;
$color-black-light: #404973;
$color-white: #fff;
$color-white-light: #f4f4f4;

$breakpoint-phone: 37.5em;
